{% extends 'base.html.twig' %}

{% block title %}{{ 'Suite'|trans }}{% endblock %}

{% block body %}
    <section id="establishment" class="row w-100 py-0 establishment bg-light">
        <div class="col-lg-6">
            <img class="col-img" src="{{ establishment.image }}" alt="{{ establishment.nom }}">
        </div>
        <div class="col-lg-6 py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h1>{{ establishment.nom }}</h1>
                        <h3>{{ 'ESTABLISHMENT'|trans }}</h3>
                        <p>{{ establishment.description }}</p>
                        <div class="display-view">
                            {% for service in services %}
                                <div class="suite-service mt-3">
                                    <div class="iconbox me-3">
                                        <em>
                                            <em class="fa-solid fa-leaf{{ service.icon }}"></em>
                                        </em>
                                    </div>
                                    <div>
                                        <h5>{{ service.titre }}</h5>
                                        <p class="display-p">{{ service.description|u.truncate(200, '...', false)  }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="suites" class="suite bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h2>{{ 'Our Suites'|trans }}</h2>
                    <h3 class="label-section">{{ 'SUITE'|trans }}</h3>
                    <p>
                        {{ 'The best way to achieve exceptional service is to personalize the customer\'s stay, to do everything to know him to understand his needs. To surprise him, you have to anticipate his needs and design moments of life that will be memorable. Hoteliers are craftsmen of life experiences.'|trans }}
                    </p>
                </div>
            </div>
            <div class="d-flex p-2 justify-content-around flex-wrap">
                {% for suite in suites %}
                <div class="card mt-2 mb-2" style="width: 30rem;">
                    <img src="{{ suite.image }}" class="card-img-top" alt="{{ suite.titre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ suite.titre }}</h5>
                        <p class="card-text">{{ suite.description }}</p>
                    </div>
                    <button type="button"
                            class="btn btn-booking"
                            data-id="{{ suite.id }}"
                            data-bs-toggle="modal"
                            data-bs-target="#bookingModal"
                            onclick="document.getElementById('bookingModal').style.display='block'">
                        {{ 'Booking'|trans }}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'suite/modalbooking.html.twig' %}
{% endblock %}
