{% form_theme form_booking 'bootstrap_5_layout.html.twig' %}
<div class="modal" id="bookingModal" tabindex="-1" role="document" aria-labelledby="bookingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'Booking'|trans }}</h5>
                {% if app.user %}
                    <input type="hidden" id="status_auth" name="status_auth" value="isLogged"
                    >
                {% endif %}
            </div>
            <div class="modal-body">

                {{ form_start(form_booking) }}

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form_booking) }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_label(form_booking.establishment) }}
                        {{ form_widget(form_booking.establishment) }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_label(form_booking.suite) }}
                        {{ form_widget(form_booking.suite) }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_label(form_booking.date_debut) }}
                        {{ form_widget(form_booking.date_debut) }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_label(form_booking.date_fin) }}
                        {{ form_widget(form_booking.date_fin) }}
                    </div>

                    <div class="form-group mb-0">
                        {{ form_widget(form_booking.check_availability, {'attr': {'class': 'js-suites'}}) }}
                    </div>

                {{ form_end(form_booking) }}

                <div class="response-availability text-center mt-5"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary js-suites-close" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}