{% extends 'base.html.twig' %}

{% block title %}{{ 'Establishment'|trans }}{% endblock %}

{% block body %}
    <section id="establishment" class="esta bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1>{{ 'Our Establishments'|trans }}</h1>
                    <h3 class="label-section">
                        {{ 'ESTABLISHMENT'|trans }}
                    </h3>
                    <p>
                        {{ 'The promise of excellence to its customers, from all points of view. Through luxury services, but above all by personalizing the customer experience as much as possible. Exceptional service and an ultra-depth understanding of every customer need will be required. It is the permanent anticipation and the design of absolutely memorable moments in life.'|trans }}
                    </p>
                </div>
            </div>
            <div class="d-flex p-2 justify-content-around flex-wrap">
                {% for establishment in establishments %}
                    <div class="mr-auto mb-5">
                    <div class="establishment">
                        <img src="{{ establishment.image }}" alt="">
                        <a class="mb-3" href="{{ path('app_establishment_suite', {'slug': establishment.slug}) }}">
                            <h5 class="mt-4 mb-2">{{ establishment.nom }}</h5>
                        </a>
                        <div class="mt-2">
                            <div class="mt-2 mb-2">
                                <p>{{ establishment.description }}</p>
                            </div>
                            <ul class="mt-2 mb-5">
                                <li>{{ establishment.adresse }}</li>
                                <li>{{ establishment.ville }}</li>
                                <li>
                                    <a href="{{ establishment.getPageWeb() }}" target="_blank" rel="noopener">
                                        {{ establishment.getPageWeb() }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <em class="fa-solid fa-bell-concierge"></em>
                        <a href="{{ path('app_establishment_suite', {'slug': establishment.slug}) }}"
                           class="call-to-action-book">{{ 'Booking'|trans }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
