<section id="about" class="light">
    <div class="container py-2">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h2>{{ 'Luxury stays'|trans }}</h2>
                <h3>{{ 'ABOUT US'|trans }}</h3>
            </div>
        </div>
        {% set i = 0 %}
        {% for picture in pictures %}
        <article class="postcard light gold">
            <a class="postcard__img_link" href="{{ path('app_establishment') }}">
                <img class="postcard__img" src="{{ picture.lien }}" alt="{{ picture.titre }}" />
            </a>
            <div class="postcard__text t-dark">
                <h4 class="postcard__title gold">
                    <a href="{{ path('app_establishment') }}">{{ values[i]['title'] }}</a>
                </h4>
                <div class="postcard__subtitle small">
                    <em class="fa-solid fa-city mr-3"></em> {{ picture.titre }}
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    {{ values[i]['description'] }}
                </div>
            </div>
        </article>
        {% set i = i + 1 %}
        {% endfor %}
    </div>
</section>