<section class="image-gallery">
    {% for gallery in galleries %}
    <div class="image-box">
        <img class="postcard__img" src="{{ gallery.lien }}" alt="{{ gallery.titre }}" />
        <div class="overlay">
            <div class="details">
                <h3 class="title">
                    {{ gallery.titre }}
                </h3>
                <span class="category">
              <a href="{{ path('app_establishment') }}">{{ gallery.getSuite }} </a>
            </span>
            </div>
        </div>
    </div>
   {% endfor %}
</section>