<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="#" class="footer-brand logo">{{ 'HYPNOS Group Hotelier'|trans }}</a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-white"><a href="{{ path('app_home') }}">{{ 'Home'|trans }}</a></h5>
                </div>
                <div class="col-md-2">
                    <h5 class="text-white"><a href="{{ path('app_establishment') }}">{{ 'Establishment'|trans }}</a></h5>
                </div>
                <div class="col-md-2">
                    <h5 class="text-white"><a href="{{ path('app_contact') }}">{{ 'Contact us'|trans }}</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ '@2022 copyright all right reserved'|trans }}
                </div>
                <div class="col-md-6">
                    Ali BEN SAIAD
                </div>
            </div>
        </div>
    </div>
</footer>