{% extends 'base.html.twig' %}

{% block title %}Infos{% endblock %}

{% block body %}
    {% if app.user %}
        <section>
            <div class="container ml-auto mr-auto">
                <div class="col-16 text-center">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-nom-list" data-bs-toggle="list"
                           role="tab" aria-controls="list-home">Welcome {{ userInfos.nom }} {{ userInfos.prenom }} !</a>
                        <a class="list-group-item list-group-item-action" id="list-telephone-list" data-bs-toggle="list"
                           role="tab" aria-controls="list-messages">Phone: {{ userInfos.telephone }}</a>
                        <a class="list-group-item list-group-item-action" id="list-email-list" data-bs-toggle="list"
                           role="tab" aria-controls="list-settings">Email: {{ userInfos.email }}</a>
                    </div>
                </div>
            </div>
        </section>

        {%  if app.request.cookies.get('dataBooking') %}
            {% form_theme form_validate 'bootstrap_5_layout.html.twig' %}
            <section>
            <div class="container validate-booking ml-auto mr-auto">
                <h2>Reservation to be validated</h2>
                {{ form_start(form_validate) }}

                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                    <div class="my-custom-class-for-errors">
                    {{ form_errors(form_validate) }}
                </div>

                    <div class="form-group mb-2">
                    <label class="form-label" for="bookingEstablishment">
                        {{ form_label(form_validate.establishment) }}
                    </label>
                    {{ form_widget(form_validate.establishment) }}
                </div>

                    <div class="form-group mb-2">
                    <label class="form-label" for="bookingSuite">
                        {{ form_label(form_validate.suite) }}
                    </label>
                    {{ form_widget(form_validate.suite) }}
                </div>

                    <div class="form-group mb-2">
                    <label class="form-label" for="bookingDateStart">
                        {{ form_label(form_validate.date_debut) }}
                    </label>
                    {{ form_widget(form_validate.date_debut) }}
                </div>

                    <div class="form-group mb-2">
                    <label class="form-label" for="bookingDateEnd">
                        {{ form_label(form_validate.date_fin) }}
                    </label>
                    {{ form_widget(form_validate.date_fin) }}
                </div>

                    <button type="submit" class="btn form-btn">validate</button>

                {{ form_end(form_validate) }}
            </div>
        </section>
        {% endif %}
    {% endif %}
{% endblock %}