{% extends 'base.html.twig' %}

{% block title %}{{ 'Last Booking'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>{{ 'Last Booking'|trans }}</h1>

            <table class="table">
                <caption>{{ 'The last 3 booking'|trans }}</caption>
                <thead>
                <tr>
                    <th>{{ 'Establishment'|trans }}</th>
                    <th>{{ 'Suite'|trans }}</th>
                    <th>{{ 'Date_debut'|trans }}</th>
                    <th>{{ 'Date_fin'|trans }}</th>
                    <th>{{ 'Prix'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.getestablishment.nom }}</td>
                        <td>{{ booking.getsuite.titre }}</td>
                        <td>{{ booking.dateDebut ? booking.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ booking.dateFin ? booking.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ booking.prix }}</td>
                        {% if date(booking.dateDebut) > date("now+3days")  %}
                            <td class="text-center">
                                <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ 'no records found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <p>{{ 'you have three days before the start reservation to modify date or cancel it'|trans }}</p>
            </div>
        </div>
    </section>
{% endblock %}
